-# <チャット画面>
.chat-main
  .chat-main__header
    .chat-main__header__left-contents
      .chat-main__header__left-contents__group-name
        = @group.name
      %ul.chat-main__header__left-contents__member-list
        Member :
        %li.member
          - @group.group_users.each do |group_user|
            = group_user.user.name
    = link_to  edit_group_path(@group), class:"chat-main__header__right-content" do
      .edit-btn
        Edit
  .chat-main__message-list
    = render @messages

  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form__input-area
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-file'
      = f.submit 'Send', class: 'chat-main__form__submit-btn'