-# <サイドバー>
.side-bar
  .side-bar__header
    .side-bar__header__top-item
      .side-bar__header__top-item__name
        = current_user.name
      %ul.side-bar__header__top-item__menu
        %li.side-bar__header__top-item__edit-user
          = link_to new_group_path do
            %i.fa.fa-edit
        %li.side-bar__header__top-item__new-group
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  .groups
    - current_user.groups.each do |group|
      .groups__group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__current-message
            = group.show_last_message